.textarea-class {
    display: flex;
    margin: 100px auto;
    width: 400px;
    height: 250px;
}

.markdown-previewer {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 400px;
}