.editor-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 600px;
    height: 250px;
    padding: 20px;
    background-color: var(--silver);
}

.editor-header {
    width: 100%;
    height: 30px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.textarea{
    width: 100%;
    height: 100%;
}

.markdown-previewer img {
    max-width: 100%;
}

.markdown-previewer {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid var(--main);
    padding: 20px;
    background-color: var(--silver);
}