@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Inter:wght@400;500&family=Karla:wght@400;500;700&display=swap');

* {
  margin: 0; // remove unnecessary gaps
}

:root {
  --typeface-karla: 'Karla', sans-serif;
  --typeface-inconsolata: 'Inconsolata', monospace;
  --typeface-inter: 'Inter', monospace;

  --backgound-color: #ffe4c4;
  --silver: #ffffffaa;
  --gray-dark: #cbcbcb;
  --main: #000000;
  background: radial-gradient(circle, rgba(213, 213, 213, 1) 57%, rgba(187, 187, 187, 1) 81%);
}